Repository imaimai17468/kirinuki-playlist: changes, and which lefthook commands are due for each by the changed paths.
All: fix(web), check(web), fix(backend), check(backend)

fix(web):
  run: cd apps/web && bun biome format --write --no-errors-on-unmatched $(echo {staged_files} | sed 's|apps/web/||g') && git update-index --again

check(web):
  run: cd apps/web && bun biome check --write --no-errors-on-unmatched $(echo {staged_files} | sed 's|apps/web/||g') && git update-index --again

fix(backend):
  run: cd apps/backend && bun biome format --write --no-errors-on-unmatched $(echo {staged_files} | sed 's|apps/backend/||g') && git update-index --again

check(backend):
  run: cd apps/backend && bun biome check --write --no-errors-on-unmatched $(echo {push_files} | sed 's|apps/backend/||g') && git update-index --again

refactor: Clean up backend route configuration and improve code formatting
  apps/backend/src/index.ts
Due: fix(backend), check(backend)

refactor: Simplify API route configuration and import
  apps/web/src/app/api/[...route]/route.ts
Due: fix(web), check(web)

chore: Update Bun lockfile
  bun.lockb
Due: none

refactor: Restructure backend with service-based architecture and modular design
  apps/backend/drizzle.config.ts
  apps/backend/src/config/database.ts
  apps/backend/src/controllers/videos.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/error-handler.ts
  apps/backend/src/models/index.ts
  apps/backend/src/models/videos.ts
  apps/backend/src/services/videos.ts
  apps/backend/src/types/index.ts
  apps/backend/src/utils/errors.ts
Due: fix(backend), check(backend)

docs: Add comprehensive backend development coding standards and README
  .cursor/rules/backend-coding-standards.mdc
  apps/backend/README.md
Due: none

refactor: Optimize import order and module organization
  apps/backend/src/config/database.ts
  apps/backend/src/controllers/videos.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/error-handler.ts
  apps/backend/src/services/videos.ts
Due: fix(backend), check(backend)

chore: Update backend dependencies and add Drizzle ORM tooling
  apps/backend/package.json
  bun.lockb
Due: none

feat: Add Video type inference for Drizzle ORM model
  apps/backend/src/models/videos.ts
Due: fix(backend), check(backend)

feat: Add Jest testing setup for backend with Miniflare
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/__tests__/videos/index.test.ts
  apps/backend/src/bindings.d.ts
  apps/backend/src/test-setup.ts
  apps/backend/src/test-types.d.ts
  apps/backend/tsconfig.json
  bun.lockb
Due: fix(backend), check(backend)

refactor: Optimize Drizzle-zod import order in videos model
  apps/backend/src/models/videos.ts
Due: fix(backend), check(backend)

refactor: Reorganize import order in videos test file
  apps/backend/src/__tests__/videos/index.test.ts
Due: fix(backend), check(backend)

feat: Implement Miniflare/D1 test environment with comprehensive setup
  .cursor/rules/backend-coding-standards.mdc
Due: none

test: Enhance videos API test with type-safe response handling
  apps/backend/src/__tests__/videos/index.test.ts
Due: fix(backend), check(backend)

chore: Add Biome linting and TypeScript type checking scripts
  apps/backend/package.json
Due: none

test: Improve test script and add Miniflare cleanup
  apps/backend/package.json
  apps/backend/src/test-setup.ts
Due: fix(backend), check(backend)

chore: Update Lefthook pre-push test script to use `bun run test`
  lefthook.yml
Due: none

test: Enhance videoService tests with resource cleanup and type definitions
  .cursor/rules/backend-coding-standards.mdc
Due: none

test: Add database setup and seed helpers for video tests
  apps/backend/src/__tests__/helpers/db-setup.ts
  apps/backend/src/__tests__/helpers/test-data.ts
  apps/backend/src/__tests__/videos/index.test.ts
Due: fix(backend), check(backend)

refactor: Improve seedVideos function formatting and add VideoListResponse type for API response
  apps/backend/src/__tests__/helpers/db-setup.ts
  apps/backend/src/__tests__/videos/index.test.ts
Due: fix(backend), check(backend)

test: Structure test code for improved maintainability and enforce type safety in API responses
  .cursor/rules/backend-coding-standards.mdc
Due: none

test: Expand video API tests with detailed response validation and error handling
  apps/backend/src/__tests__/helpers/db-setup.ts
  apps/backend/src/__tests__/videos/index.test.ts
Due: fix(backend), check(backend)

test: Update backend coding standards with bun test commands and error handling guidelines
  .cursor/rules/backend-coding-standards.mdc
Due: none

feat: Introduce backend error handling and testing standards documentation for improved clarity and consistency
  .cursor/rules/backend-coding-standards.mdc
  .cursor/rules/backend-error-handling.mdc
  .cursor/rules/backend-testing-standards.mdc
Due: none

test: Refactor video API tests for improved readability and consistency in request formatting
  apps/backend/src/__tests__/videos/index.test.ts
Due: fix(backend), check(backend)

docs: Enhance backend error handling and testing standards with type safety guidelines and response validation examples
  .cursor/rules/backend-error-handling.mdc
  .cursor/rules/backend-testing-standards.mdc
Due: none

feat: Add authors model with validation schemas for database interactions
  apps/backend/src/models/authors.ts
  apps/backend/src/models/index.ts
Due: fix(backend), check(backend)

feat: Implement author service for CRUD operations and export in service index
  apps/backend/src/services/authors.ts
  apps/backend/src/services/index.ts
Due: fix(backend), check(backend)

refactor: Update video model imports and remove unused model and service exports
  apps/backend/src/__tests__/helpers/db-setup.ts
  apps/backend/src/__tests__/helpers/test-data.ts
  apps/backend/src/__tests__/videos/index.test.ts
  apps/backend/src/models/index.ts
  apps/backend/src/services/index.ts
Due: fix(backend), check(backend)

feat: Add authors API routes for CRUD operations and integrate with the main application
  apps/backend/src/controllers/authors.ts
  apps/backend/src/index.ts
Due: fix(backend), check(backend)

refactor: Update comments in authors controller to use '作成者' instead of '著者' for consistency
  apps/backend/src/controllers/authors.ts
Due: fix(backend), check(backend)

test: Add comprehensive tests for authors API including CRUD operations and response validation
  apps/backend/src/__tests__/authors/index.test.ts
  apps/backend/src/__tests__/helpers/db-setup.ts
  apps/backend/src/__tests__/helpers/test-data.ts
Due: fix(backend), check(backend)

feat: Create authors table and add initial snapshot for database schema version 6
  apps/backend/drizzle/0001_rich_mephisto.sql
  apps/backend/drizzle/meta/0001_snapshot.json
  apps/backend/drizzle/meta/_journal.json
Due: fix(backend), check(backend)

feat: Create index file to export videos and authors models for better module organization
  apps/backend/src/models/index.ts
Due: fix(backend), check(backend)

docs: Update backend coding standards and add new testing implementation patterns for resources
  .cursor/rules/backend-coding-standards.mdc
  .cursor/rules/backend-testing-standards.mdc
Due: none

docs: Update links in backend coding standards to point to the correct file paths for testing and error handling standards
  .cursor/rules/backend-coding-standards.mdc
Due: none

feat: Introduce relations model for authors and videos, enhancing data relationships and update authors and videos schemas for authorId integration
  apps/backend/src/models/index.ts
  apps/backend/src/models/relations.ts
  apps/backend/src/models/videos.ts
Due: fix(backend), check(backend)

refactor: Swap video and author test data structures, updating helper functions for consistency and clarity
  apps/backend/src/__tests__/helpers/test-data.ts
Due: fix(backend), check(backend)

feat: Enhance video API to include author information in responses and update database schema for authorId integration
  apps/backend/src/__tests__/helpers/db-setup.ts
  apps/backend/src/__tests__/helpers/test-data.ts
  apps/backend/src/__tests__/videos/index.test.ts
  apps/backend/src/controllers/videos.ts
  apps/backend/src/services/videos.ts
Due: fix(backend), check(backend)

feat: Add author_id column to videos table and create snapshot for database schema version 6
  apps/backend/drizzle/0002_short_purifiers.sql
  apps/backend/drizzle/meta/0002_snapshot.json
  apps/backend/drizzle/meta/_journal.json
Due: fix(backend), check(backend)

fix: Correct import order for videos model in videos service file
  apps/backend/src/services/videos.ts
Due: fix(backend), check(backend)

Path conditions:
  fix(web): any of: apps/web/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check(web): any of: apps/web/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  fix(backend): any of: apps/backend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check(backend): any of: apps/backend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
