Repository imaimai17468/kirinuki-playlist: changes, and which lefthook commands are due for each by the changed paths.
All: fix(web), check(web), fix(backend), check(backend)

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fix(web):
      glob: "apps/web/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd apps/web && bun biome format --write --no-errors-on-unmatched $(echo {staged_files} | sed 's|apps/web/||g') && git update-index --again
    check(web):
      glob: "apps/web/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd apps/web && bun biome check --write --no-errors-on-unmatched $(echo {staged_files} | sed 's|apps/web/||g') && git update-index --again
    fix(backend):
      glob: "apps/backend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd apps/backend && bun biome format --write --no-errors-on-unmatched $(echo {staged_files} | sed 's|apps/backend/||g') && git update-index --again
    check(backend):
      glob: "apps/backend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd apps/backend && bun biome check --write --no-errors-on-unmatched $(echo {push_files} | sed 's|apps/backend/||g') && git update-index --again

pre-push:
  parallel: true
  commands:
    check(web):
      glob: "apps/web/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd apps/web && bun biome check --no-errors-on-unmatched $(echo {push_files} | sed 's|apps/web/||g')
    test(web):
      glob: "apps/web/**/*.test.{ts,tsx}"
      run: cd apps/web && bun test
    type(web):
      glob: "apps/web/**/*.{ts,tsx}"
      run: cd apps/web && bun tsc --noEmit
    check(backend):
      glob: "apps/backend/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cd apps/backend && bun biome check --no-errors-on-unmatched $(echo {push_files} | sed 's|apps/backend/||g')
    test(backend):
      glob: "apps/backend/**/*.test.{ts,tsx}"
      run: cd apps/backend && bun test
    type(backend):
      glob: "apps/backend/**/*.{ts,tsx}"
      run: cd apps/backend && bun tsc --noEmit

chore: Remove unused utility function for generating random UIDs from the repository
  apps/web/src/repositories/utils.ts
Due: fix(web), check(web)

docs: Add guidelines for handling relationships in backend coding and testing standards, including model definitions, service layer implementations, and validation practices
  .cursor/rules/backend-coding-standards.mdc
  .cursor/rules/backend-testing-standards.mdc
Due: none

refactor: Export app type for improved type safety and clarity in backend application
  apps/backend/src/index.ts
Due: fix(backend), check(backend)

feat: Add getBaseURL function to determine base URL for production and development environments
  apps/web/src/lib/baseUrl.ts
Due: fix(web), check(web)

feat: Add backend coding, error handling, and testing standards documentation for Kirinuki-Playlist project
  .cursor/rules/backend/backend-coding-standards.mdc
  .cursor/rules/backend/backend-error-handling.mdc
  .cursor/rules/backend/backend-testing-standards.mdc
Due: none

feat: Add client module for API interaction using Hono client
  apps/web/src/lib/client.ts
  bun.lockb
Due: fix(web), check(web)

fix: Add TypeScript ignore comment for D1Database types mismatch in database configuration
  apps/backend/src/config/database.ts
Due: fix(backend), check(backend)

refactor: Update API routes to remove '/api' prefix for cleaner endpoint structure
  apps/backend/src/index.ts
Due: fix(backend), check(backend)

docs: Update backend coding standards to clarify API path structure and routing practices
  .cursor/rules/backend/backend-coding-standards.mdc
Due: none

chore: Update wrangler version and adjust compatibility date in backend configuration
  apps/backend/package.json
  apps/backend/wrangler.jsonc
  bun.lockb
Due: none

feat: Add local and remote migration scripts for D1 database in backend package.json
  apps/backend/package.json
Due: none

docs: Enhance backend coding standards with new database management guidelines and add dedicated database documentation
  .cursor/rules/backend/backend-coding-standards.mdc
  .cursor/rules/backend/backend-database.mdc
Due: none

feat: Implement authors and videos API with CRUD operations and error handling
  .gitignore
  apps/web/drizzle.config.ts
  apps/web/drizzle/0000_nappy_blonde_phantom.sql
  apps/web/drizzle/0001_rich_mephisto.sql
  apps/web/drizzle/0002_short_purifiers.sql
  apps/web/drizzle/meta/0000_snapshot.json
  apps/web/drizzle/meta/0001_snapshot.json
  apps/web/drizzle/meta/0002_snapshot.json
  apps/web/drizzle/meta/_journal.json
  apps/web/package.json
  apps/web/src/app/api/[...route]/author.ts
  apps/web/src/app/api/[...route]/route.ts
  apps/web/src/app/api/[...route]/videos.ts
  apps/web/src/db/config/database.ts
  apps/web/src/db/middlewares/error-handler.ts
  apps/web/src/db/models/authors.ts
  apps/web/src/db/models/index.ts
  apps/web/src/db/models/relations.ts
  apps/web/src/db/models/videos.ts
  apps/web/src/db/services/authors.ts
  apps/web/src/db/services/videos.ts
  apps/web/src/db/types/bindings.ts
  apps/web/src/db/utils/errors.ts
  apps/web/wrangler.jsonc
  bun.lockb
Due: fix(web), check(web)

chore: Remove backend files and configurations for authors and videos API
  apps/backend/.gitignore
  apps/backend/README.md
  apps/backend/drizzle.config.ts
  apps/backend/drizzle/0000_nappy_blonde_phantom.sql
  apps/backend/drizzle/0001_rich_mephisto.sql
  apps/backend/drizzle/0002_short_purifiers.sql
  apps/backend/drizzle/meta/0000_snapshot.json
  apps/backend/drizzle/meta/0001_snapshot.json
  apps/backend/drizzle/meta/0002_snapshot.json
  apps/backend/drizzle/meta/_journal.json
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/__tests__/authors/index.test.ts
  apps/backend/src/__tests__/helpers/db-setup.ts
  apps/backend/src/__tests__/helpers/test-data.ts
  apps/backend/src/__tests__/videos/index.test.ts
  apps/backend/src/bindings.d.ts
  apps/backend/src/config/database.ts
  apps/backend/src/controllers/authors.ts
  apps/backend/src/controllers/videos.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/error-handler.ts
  apps/backend/src/models/authors.ts
  apps/backend/src/models/index.ts
  apps/backend/src/models/relations.ts
  apps/backend/src/models/videos.ts
  apps/backend/src/services/authors.ts
  apps/backend/src/services/videos.ts
  apps/backend/src/test-setup.ts
  apps/backend/src/test-types.d.ts
  apps/backend/src/types/index.ts
  apps/backend/src/utils/errors.ts
  apps/backend/tsconfig.json
  apps/backend/wrangler.jsonc
Due: fix(backend), check(backend)

refactor: Simplify lefthook configuration by consolidating commands for web and backend into general fix and check commands
  lefthook.yml
Due: none

chore: Remove backend dependency from package.json and update bun.lockb
  bun.lockb
  package.json
Due: none

chore: Update package.json scripts for biome and TypeScript checks, and adjust import paths in error handler and client files
  src/db/middlewares/error-handler.ts
  src/lib/client.ts
Due: none

chore: Refactor package.json scripts to separate biome and TypeScript checks for improved clarity
  package.json
Due: none

chore: Update lefthook configuration to simplify test file glob pattern for improved matching
  lefthook.yml
Due: none

docs: Update README to reflect project structure changes and API integration with Hono in Next.js
  README.md
Due: none

chore: Remove outdated backend coding standards, database management, and testing guidelines; introduce new frontend API error handling and coding standards documentation
  .cursor/rules/backend/backend-coding-standards.mdc
  .cursor/rules/backend/backend-database.mdc
  .cursor/rules/backend/backend-testing-standards.mdc
  .cursor/rules/frontend/frontend-api-error-handling.mdc
  .cursor/rules/frontend/frontend-api-standards.mdc
  .cursor/rules/frontend/frontend-api-testing.mdc
  .cursor/rules/frontend/frontend-coding-standards.mdc
  .cursor/rules/frontend/frontend-database.mdc
Due: none

chore: Update Next.js configuration for development environment and enhance package.json scripts for Cloudflare Pages integration
  bun.lockb
  next.config.mjs
  package.json
  wrangler.jsonc
Due: none

fix: Update Hono app initialization to include type bindings for improved type safety
  src/app/api/[...route]/route.ts
Due: none

chore: Add database configuration details including wrangler config path and database name to drizzle.config.ts
  drizzle.config.ts
Due: none

feat: Introduce Cloudflare environment interface and refactor API routes to utilize getRequestContext for database access
  env.d.ts
  src/app/api/[...route]/author.ts
  src/app/api/[...route]/videos.ts
Due: none

chore: Remove database configuration details from drizzle.config.ts
  drizzle.config.ts
Due: none

chore: Add .wrangler to .gitignore to prevent wrangler configuration files from being tracked
  .gitignore
Due: none

chore: Add local migration script to package.json for easier local database migrations
  package.json
Due: none

fix: Refactor video retrieval to use getRequestContext for environment access and add comment for test environment variable usage
  .cursor/rules/frontend/frontend-api-standards.mdc
Due: none

chore: Update frontend API standards documentation by removing outdated sections and linking to relevant guidelines for error handling, testing, and database operations
  .cursor/rules/frontend/frontend-api-standards.mdc
Due: none

feat: Add playlists model and relations to enhance database structure for video playlists
  src/db/models/index.ts
  src/db/models/playlists.ts
  src/db/models/relations.ts
Due: none

feat: Implement playlists API with CRUD operations and integrate into routing
  src/app/api/[...route]/playlists.ts
  src/app/api/[...route]/route.ts
  src/db/services/playlists.ts
Due: none

feat: Add base URL utility and client setup for API integration
  src/libs/baseUrl.ts
  src/libs/client.ts
  src/libs/utils.ts
Due: none

fix: Update import paths for utility functions from "@/lib/utils" to "@/libs/utils" across multiple components
  src/components/parts/video-player/multi-video-player/index.tsx
  src/components/parts/video-player/video-player-bar/index.tsx
  src/components/ui/avatar.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
Due: none

feat: Implement getMovieDetail function to fetch YouTube video details using the YouTube Data API
  src/libs/youtube/get-movie-detail.ts
Due: none

feat: Enhance API documentation with detailed guidelines for API design, routing, and multi-to-many relationships implementation
  .cursor/rules/frontend/frontend-api-standards.mdc
  .cursor/rules/frontend/frontend-database.mdc
Due: none

refactor: Streamline API route definitions for authors, playlists, and videos by consolidating method chaining for improved readability
  src/app/api/[...route]/author.ts
  src/app/api/[...route]/playlists.ts
  src/app/api/[...route]/route.ts
  src/app/api/[...route]/videos.ts
Due: none

feat: Introduce repository structure for authors, playlists, and videos with API integration, including hooks and error handling utilities
  src/repositories/author/hooks.ts
  src/repositories/author/index.ts
  src/repositories/config.ts
  src/repositories/playlist/hooks.ts
  src/repositories/playlist/index.ts
  src/repositories/types.ts
  src/repositories/utils.ts
  src/repositories/video/hooks.ts
  src/repositories/video/index.ts
Due: none

chore: Update package dependencies by adding @tanstack/react-query and neverthrow
  bun.lockb
  package.json
Due: none
